---
---

<footer class="relative border-t border-white/10 py-12">
  <div class="mx-auto flex w-full max-w-7xl flex-col gap-8 px-6 lg:px-8">
    <div class="pt-3 text-center text-sm text-ink-400">
      <p>© 2026 Yazdan Zandiye Vakili. All rights reserved.</p>
    </div>
  </div>
</footer>
